@if (showDemo) {
    <div class="container" style="margin-top: 30px">
        <leafletCoreDemo></leafletCoreDemo>
        <br />

        <leafletBaseLayersDemo></leafletBaseLayersDemo>
        <br />

        <leafletLayersDemo></leafletLayersDemo>
        <br />

        <leafletNgForLayersDemo></leafletNgForLayersDemo>
        <br />

        <leafletMarkersDemo></leafletMarkersDemo>
        <br />

        <leafletPerformanceDemo></leafletPerformanceDemo>
        <br />

        <leafletEventsDemo></leafletEventsDemo>
        <br />

        <leafletMultiMapDemo></leafletMultiMapDemo>
        <br />
    </div>
} @else {
    <div class="container" style="margin-top: 30px">
        <h3>Loading Demo...</h3>
    </div>
}
