###################
# Project Specific
###################


###################
# Editors
###################

# Eclipse
.project
.settings
.classpath

# IntelliJ
.idea/
*.iml
*.iws

# Net Beans
nbactions.xml
nb-configuration.xml

# VS
.vscode

# Vi, etc
*.swp
*.tmp
*.bak

# General
*~


###################
# Build
###################

# Node
node_modules/
npm-debug.log
*.tgz
yarn.lock

# Common
bin/
tmp/

# Apple
*~.nib


###################
# OS
###################

# MacOS
.DS_Store


###################
# Tests
###################
