<div class="container" *ngIf="showDemo" style="margin-top: 30px;">

	<div class="row">
		<div class="col-md-12">

			<h1>Core - Using options</h1>
			<leafletCoreDemo></leafletCoreDemo>

		</div>
	</div>


	<div class="row">
		<div class="col-md-12">

			<h1>Simple Base Layers</h1>
			<leafletBaselayersDemo></leafletBaselayersDemo>

		</div>
	</div>


	<div class="row">
		<div class="col-md-12">

			<h1>Layers and Layer Controls</h1>
			<leafletLayersDemo></leafletLayersDemo>

		</div>
	</div>

</div>




